@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  text-decoration: none !important;
  box-sizing: border-box !important;
  list-style-type: none !important;
  padding: 0;
  margin: 0;
}
.button_green {
  background-color: #00a015;
  padding: 16px 32px;
  border: 1px solid transparent !important;
  border-radius: 60px;
}

.button_green:hover {
  background-color: transparent;
  border: 1px solid #00a015 !important;
  color: #00a015 !important;
}

.serivce_cards {
  padding: 24px;
  border-radius: 12px;
  transition: 400ms;
}

.serivce_cards:hover {
  box-shadow: 0px 0px 32px #00000029 !important;
}

.card_client {
  border: 1px solid #00000026;
  border-radius: 12px;
  background-color: white;
  padding: 24px;
  transition: 400ms;
}
.card_client:hover{
  transform: translateY(-10px);
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: white;
  background: green;
  font-size: 5px !important;
  border-radius: 50%;
}

button:before {
  font-size: 10px !important;
  color: green !important;
}

.padding_246_24 {
  padding: 246px 0px 24px 0px;
}

.hover_white:hover svg path {
  fill: white;
}
.box_shadow {
  box-shadow: 0px 0px 32px 0px #0000001a;
}
